{% extends "base/base.html" %}

{% block title %}Пост{% endblock %}

{% block content %}

<div class="list-group-item post-item second-block rounded-3 text-dark">
    <h3 class="text-block name-text input-block">{{ post.post_text }}</h3>

    <h2 class="name-text text-dark">{{ post.creator }}</h2>

    <h3 style="border: 2px solid #3d4146;">Варианты ответа:</h3>
    <div style="line-height: 40px;">
        {% if not voted %}
            <form method="POST">
                {% csrf_token %}
                {% if variants_data %}
                    {% for variant_data in variants_data %}
                        <input type="hidden" name="variant_id" value="{{ variant.id }}">
                        <button type="submit" class="answer-button btn text-start w-100"> {{ variant_data.variant.variant_text }} </button>
                        <br />
                    {% endfor %}
                {% else %}
                    <p>Это не опрос</p>
                {% endif %}
            </form>
        {% else %}
            {% if variants_data %}
                {% for variant_data in variants_data %}
                <div class="mb-2">
                    <button type="submit" class="answer-button btn w-100 d-flex justify-content-between align-items-center" disabled>
                        <span class="text-start"> {{ variant_data.variant.variant_text }} </span>
                        <span class="text-end"> {{ variant_data.percentage }}%</span>
                    </button>
                </div>
                {% endfor %}
            {% else %}
                <p>Это не опрос</p>
            {% endif %}
        {% endif %}
        <br />
        <h3 style="border: 2px solid #3d4146;"> Комментарии:</h3>
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button name="comment" type="submit">Оставить комментарий</button>
    </form>
    {% if comments %}
        <ul>
            {% for comment in comments %}
                <li><strong>{{ comment.creator }}</strong>: {{ comment.comment_text }} ({{ comment.created_at }})</li>
                <form method="POST">
                    {% csrf_token %}
                    <button name="delete" type="submit" class="left-text" value="{{ comment.id }}">123</button>
                </form>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет комментариев.</p>
    {% endif %}
</div>
{% endblock %}