{% extends "base/base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class=" second-block container mt-5 rounded-3" style="width: 520px; height: auto;">
    <div class="row justify-content-center p-2 text-dark rounded-3">
        <div class="col-md-6">
            <h2 class="text-center main-text">Регистрация</h2>
            {% if form.errors %}
                <div class="alert alert-danger">
                    <p>Пожалуйста, проверьте введённые данные.</p>
                </div>
            {% endif %}
            <form method="post" class="mt-4">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.username.label_tag }}
                    <div class="text-center">
                        {{ form.username }}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <div class="mb-3">
                    {{ form.password1.label_tag }}
                    <div class="text-center">
                        {{ form.password1 }}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form.password2.label_tag }}
                    <div class="text-center">
                        {{ form.password2 }}
                    </div>
                </div>
                <button type="submit" class="btn answer-button  text-light w-100">Зарегистрироваться</button>
            </form>
            <div class="text-center mt-3">
                <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
