{% extends "base/base.html" %}

{% block title %}Лента{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <ul class="list-group">
                {% for post_data in posts_data %}
                    <li class="list-group-item post-item second-block rounded-3">
                        <div class="post-header d-flex align-items-center">
                             <form method="POST" class="d-flex align-items-center w-100">
                                {% csrf_token %}
                                <img src="{{ post_data.user.userprofile.avatar.url }}"  class="avatar rounded-circle me-2" >
                                <a class="main-text link-light text-dark" href="{% url 'user_profile' user_id=post_data.user.id %}">{{ post_data.user }}</a>

                                {% if user == post_data.user %}
                                  <button name="delete" type="submit" class="left-text btn btn-sm  ms-auto" value="{{ post_data.post.id }}">
                                        <img src="static/images/trasher.png" style="height: 40px; width: 40px; border: 2px solid #3d4146;" >
                                  </button>
                                {% endif %}
                            </form>
                        </div>
                        <div class="text-block name-text input-block text-dark">
                            {{ post_data.post.post_text }}
                        </div>
                       
                        <div class="variants-container">
                            {% if not post_data.voted %}
                                <form method="POST">
                                    {% csrf_token %}
                                    {% for variant_data in post_data.variants %}
                                        <div class="mb-2">
                                            <button name="variant_id" type="submit" class="answer-button text-light btn w-100 text-start" value="{{ variant_data.variant.id }}"> {{ variant_data.variant.variant_text }} </button>
                                        </div>
                                    {% endfor %}
                                </form>
                            {% else %}
                                {% for variant_data in post_data.variants %}
                                    <div class="mb-2">
                                      <button type="button" class="answer-button btn w-100 d-flex justify-content-between align-items-center" disabled>
                                          <span class="text-start"> {{ variant_data.variant.variant_text }} </span>
                                          <span class="text-end"> {{ variant_data.percentage }}%</span>
                                      </button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <form method="POST" class="mt-2">
                            {% csrf_token %}
                            <button name="comments" type="submit" class="btn btn-outline-dark text-dark" value="{{ post_data.post.id }}">Комментарии</button>
                         </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}