.avatar {
    width: 40px;
    height: 40px;
    border: 2px solid #3d4146;
}

.answer-button {
    background-color: #2C5545;
    padding: 5px;
    hyphens: auto;
    display: inline-block;
    box-sizing: border-box;
}


.btn-secondary[disabled] {
    border: 2px solid #007bff;
    background-color: #54595e;
}

body {
    background-color: var(--teal-700);
}


.hidden {
    display: none;
}


.user-link {
    text-decoration: none;
    margin-right: auto;
}


.variants-container {
    margin-top: 10px;
}


.input-block {
    background-color: var(--gray-100);
    border: 3px solid #3d4146;
    padding: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}


.left-text{
    float: right;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: transparent;
}


.main-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.name-text {
    font-family: Arial, Helvetica, sans-serif;
}


.post-item {
    background-color: #54595e;
    color: white;
    border: 1px solid #3d4146;
    margin-bottom: 1rem;
    position: relative;
}

.post-header {
    margin-bottom: 1rem;
}


textarea{
    width: 600px;
    height: 500px;
    resize: vertical;
}

.text-block {
    border: 3px solid #3d4146;
    padding: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}


.second-block {
    background-color: var(--secondary-bg-subtle)
}


